.post-container {
    width: 300px;
    height: inherit;
    margin: auto;
    border: 1px solid rgb(204, 186, 186);
    border-radius: 1.5%;
    padding: 5px;
}

.post-container img {
    width: inherit;
}

.profile-name {
    color: black;
    font-weight: 500;
    margin: 0px;
}

.profile-picture {
    width: auto;
    height: 100%;
    margin: 0px;
    border-radius: 50%;
}

.profile-picture-container {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px;
}

.profile-header {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px;
}