.app {
    width: 412px;
    margin: auto;
}

.sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid rgb(204, 186, 186);
    background-color: #FFFFFF;
    z-index: 1;
    height: 45px;
}

.home-icon {
    width: 30px;
}

.navbar-content {
    display: inline-block;
    color: black;
}

.socialbar {
    display: inline;
}

.socialbar img {
    width: 15px;
    padding-right: 8px;
}

.socialbar-right {
    float: right;
    padding-right: 0px;
}

.messages-icon {
    float: right;
    width: 30px;
}

.messages-icon img {
    width: 30px;
}

.recent-message h6 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.post-container {
    width: 400px;
    height: inherit;
    margin: auto;
    border: 1px solid rgb(204, 186, 186);
    border-radius: 1.5%;
    padding: 5px;
}

.content-picture {
    object-fit: cover;
    width: inherit;
    height: 300px;
}

.post-caption {
    font-size: 10pt;
    margin: 0;
}

.profile-name {
    color: black;
    font-weight: 500;
    margin: 0px;
}

.profile-picture {
    width: inherit;
    height: 100%;
    margin: 0px;
    border-radius: 50%;
}

.profile-picture-container {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px;
}

.profile-header {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px;
}